.eh-projects {

    display: flex;

    flex-direction: column;

    gap: 32px;

}

.eh-projects-header {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    margin-bottom: 40px;

}

.eh-project-grid {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

    gap: 24px;

}

@media(max-width:768px) {

    .eh-projects-header {

        flex-direction: column;

        align-items: flex-start;

        gap: 16px;

    }

}

.eh-projects-title {

    display: flex;

    flex-direction: column;

    gap: 8px;

}

.eh-projects-title h1 {

    color: white;

    font-size: 34px;

    font-weight: 700;

}

.eh-projects-title p {

    color: #9b8c78;

    font-size: 15px;

}