--
-- PostgreSQL database dump
--

\restrict rwFBcbWDTceutQtKHaYw2X1kc9Gbh5RC9qjihMaED7e0H7QlVBuWYgBnKwfI1Nv

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    runtime character varying(30) NOT NULL,
    entry_file character varying(255) NOT NULL,
    build_command text,
    start_command text NOT NULL,
    working_directory character varying(255) DEFAULT '.'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.applications OWNER TO echo_user;

--
-- Name: deployment_logs; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.deployment_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    deployment_id uuid NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now(),
    message text NOT NULL
);


ALTER TABLE public.deployment_logs OWNER TO echo_user;

--
-- Name: deployments; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.deployments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    image_name text,
    container_name text NOT NULL,
    status text NOT NULL,
    port integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.deployments OWNER TO echo_user;

--
-- Name: environment_variables; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.environment_variables (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    variable_key character varying(100) NOT NULL,
    variable_value text NOT NULL,
    is_secret boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.environment_variables OWNER TO echo_user;

--
-- Name: files; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.files (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    original_name text NOT NULL,
    stored_name text,
    mime_type text,
    file_size bigint NOT NULL,
    storage_path text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    relative_path text DEFAULT ''::text NOT NULL,
    is_directory boolean DEFAULT false NOT NULL
);


ALTER TABLE public.files OWNER TO echo_user;

--
-- Name: project_deployments; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.project_deployments (
    project_id uuid NOT NULL,
    status text DEFAULT 'stopped'::text NOT NULL,
    process_id integer,
    runtime_directory text,
    started_at timestamp without time zone,
    last_deployed_at timestamp without time zone,
    build_started_at timestamp without time zone,
    build_finished_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    stopped_by_user boolean DEFAULT false NOT NULL
);


ALTER TABLE public.project_deployments OWNER TO echo_user;

--
-- Name: project_repository; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.project_repository (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    provider character varying(20) NOT NULL,
    owner character varying(255) NOT NULL,
    repository_url character varying(255) NOT NULL,
    branch character varying(255) DEFAULT 'main'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    repository_name text,
    clone_url text,
    default_branch text
);


ALTER TABLE public.project_repository OWNER TO echo_user;

--
-- Name: project_settings; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.project_settings (
    project_id uuid NOT NULL,
    runtime text DEFAULT 'node'::text NOT NULL,
    working_directory text DEFAULT '.'::text NOT NULL,
    install_command text DEFAULT 'npm install'::text NOT NULL,
    build_command text DEFAULT 'npm run build'::text NOT NULL,
    start_command text DEFAULT 'npm start'::text NOT NULL,
    port integer DEFAULT 3001 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.project_settings OWNER TO echo_user;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.projects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    port integer,
    git_remote_url text,
    git_branch text DEFAULT 'main'::text,
    git_connected boolean DEFAULT false
);


ALTER TABLE public.projects OWNER TO echo_user;

--
-- Name: test_table; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.test_table (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.test_table OWNER TO echo_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: echo_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO echo_user;

--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.applications (id, project_id, runtime, entry_file, build_command, start_command, working_directory, created_at, updated_at) FROM stdin;
de85150a-ecca-4046-87b9-7e8d63c16c5d	9b4c25d3-0a6f-4795-ab16-5fdbca45e47a	node	index.js	npm install	node index.js		2026-07-14 03:28:29.136235+00	2026-07-14 03:28:29.136235+00
17cd25ff-e011-4a43-a54d-2724db450f78	80800ba8-964b-43d9-b395-df906d83257b	node	index.js	npm install	node index.js		2026-07-14 14:28:30.434204+00	2026-07-14 14:28:30.434204+00
\.


--
-- Data for Name: deployment_logs; Type: TABLE DATA; Schema: public; Owner: echo_user
--



--
-- Data for Name: deployments; Type: TABLE DATA; Schema: public; Owner: echo_user
--



--
-- Data for Name: environment_variables; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.environment_variables (id, project_id, variable_key, variable_value, is_secret, created_at, updated_at) FROM stdin;
1784ca7d-8fe2-40d0-ac6b-a57f249eaaa1	f688d067-d9dd-4a0a-9062-3023a4c59a51	PORT	3000	f	2026-07-11 13:43:45.260266+00	2026-07-11 13:43:45.260266+00
e47733d3-dda4-4709-a205-c7b245ec3310	80800ba8-964b-43d9-b395-df906d83257b	API_URL	https://official-joke-api.appspot.com/random_joke	t	2026-07-20 04:32:02.927142+00	2026-07-20 06:45:53.308978+00
\.


--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: echo_user
--



--
-- Data for Name: project_deployments; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.project_deployments (project_id, status, process_id, runtime_directory, started_at, last_deployed_at, build_started_at, build_finished_at, created_at, updated_at, stopped_by_user) FROM stdin;
f688d067-d9dd-4a0a-9062-3023a4c59a51	stopped	\N	\N	\N	\N	\N	\N	2026-07-19 16:08:21.430988	2026-07-19 16:08:21.430988	f
9b4c25d3-0a6f-4795-ab16-5fdbca45e47a	stopped	\N	\N	\N	\N	\N	\N	2026-07-19 16:08:21.430988	2026-07-19 16:08:21.430988	f
80800ba8-964b-43d9-b395-df906d83257b	stopped	\N	\N	\N	\N	\N	\N	2026-07-19 16:08:21.430988	2026-07-19 16:08:21.430988	f
\.


--
-- Data for Name: project_repository; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.project_repository (id, project_id, provider, owner, repository_url, branch, created_at, updated_at, repository_name, clone_url, default_branch) FROM stdin;
c3e799f1-a01b-4499-8d12-3adbad028892	80800ba8-964b-43d9-b395-df906d83257b	github	piyushbhatichouhan	https://github.com/piyushbhatichouhan/Repotestecho1.git	main	2026-07-18 14:36:56.652537	2026-07-18 14:36:56.652537	Repotestecho1	https://github.com/piyushbhatichouhan/Repotestecho1.git	main
\.


--
-- Data for Name: project_settings; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.project_settings (project_id, runtime, working_directory, install_command, build_command, start_command, port, created_at, updated_at) FROM stdin;
f688d067-d9dd-4a0a-9062-3023a4c59a51	node	.	npm install	npm run build	npm start	3001	2026-07-19 15:49:06.958843	2026-07-19 15:49:06.958843
9b4c25d3-0a6f-4795-ab16-5fdbca45e47a	node	.	npm install	npm run build	npm start	3001	2026-07-19 15:49:06.958843	2026-07-19 15:49:06.958843
80800ba8-964b-43d9-b395-df906d83257b	node	.	npm install	npm run build	npm start	3001	2026-07-19 15:49:06.958843	2026-07-19 15:49:06.958843
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: echo_user
--



--
-- Data for Name: test_table; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.test_table (id, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: echo_user
--

COPY public.users (id, username, email, password_hash, is_active, created_at, updated_at) FROM stdin;
b26b1b2f-5c79-472a-846e-7d9ecae54e32	echo	echo@example.com	$2b$10$IYPMchLu1SixVocCOrwgFuM2y.IXeAtH.pwti3U72c8VodsJdAj/W	t	2026-07-10 10:35:29.798512+00	2026-07-10 10:35:29.798512+00
da7a0aca-efc0-48a3-be72-74bc2ba5a8b3	Piyush	piyush@gmail.com	$2b$10$bMFB3vU2J9r4oEEpb678euJhI/D.r6k.K8cJL5vdnE7u.pDcIFJ/C	t	2026-07-14 14:07:52.665168+00	2026-07-14 14:07:52.665168+00
\.


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: applications applications_project_id_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_project_id_key UNIQUE (project_id);


--
-- Name: deployment_logs deployment_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.deployment_logs
    ADD CONSTRAINT deployment_logs_pkey PRIMARY KEY (id);


--
-- Name: deployments deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_pkey PRIMARY KEY (id);


--
-- Name: environment_variables environment_variables_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.environment_variables
    ADD CONSTRAINT environment_variables_pkey PRIMARY KEY (id);


--
-- Name: environment_variables environment_variables_project_id_variable_key_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.environment_variables
    ADD CONSTRAINT environment_variables_project_id_variable_key_key UNIQUE (project_id, variable_key);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: files files_stored_name_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_stored_name_key UNIQUE (stored_name);


--
-- Name: project_deployments project_deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_deployments
    ADD CONSTRAINT project_deployments_pkey PRIMARY KEY (project_id);


--
-- Name: project_repository project_repository_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_repository
    ADD CONSTRAINT project_repository_pkey PRIMARY KEY (id);


--
-- Name: project_repository project_repository_project_id_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_repository
    ADD CONSTRAINT project_repository_project_id_key UNIQUE (project_id);


--
-- Name: project_settings project_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_settings
    ADD CONSTRAINT project_settings_pkey PRIMARY KEY (project_id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: projects projects_port_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_port_key UNIQUE (port);


--
-- Name: test_table test_table_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.test_table
    ADD CONSTRAINT test_table_pkey PRIMARY KEY (id);


--
-- Name: files unique_project_filename; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT unique_project_filename UNIQUE (project_id, original_name);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: applications applications_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: deployment_logs deployment_logs_deployment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.deployment_logs
    ADD CONSTRAINT deployment_logs_deployment_id_fkey FOREIGN KEY (deployment_id) REFERENCES public.deployments(id) ON DELETE CASCADE;


--
-- Name: deployments deployments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: environment_variables environment_variables_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.environment_variables
    ADD CONSTRAINT environment_variables_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: files files_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_deployments project_deployments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_deployments
    ADD CONSTRAINT project_deployments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_repository project_repository_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_repository
    ADD CONSTRAINT project_repository_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_settings project_settings_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.project_settings
    ADD CONSTRAINT project_settings_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: projects projects_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: echo_user
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rwFBcbWDTceutQtKHaYw2X1kc9Gbh5RC9qjihMaED7e0H7QlVBuWYgBnKwfI1Nv





