.eh-dropdown {
    position: relative;
    display: inline-block;
}

.eh-dropdown-menu {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    /* opens to the right */
    min-width: 190px;

    background: #1f1f1f;
    border: 1px solid #444;
    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
    z-index: 9999;
}

.eh-dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 16px;

    border: none;
    background: transparent;
    color: white;
    text-align: left;

    cursor: pointer;
}

.eh-dropdown-item:hover {
    background: rgba(255, 255, 255, .08);
}

.eh-dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.eh-dropdown-icon {
    display: flex;
    align-items: center;
}